<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Interface Page</h1>
    <p>This is the interface page.</p>

    <div>   
        <form id="Language_Form">
            <label for="language_input">Question</label>
            <input id="language_input" name="Question" required>
   
            <label for="Schema_input">Schema(Optional)</label>
            <input id="Schema_input" name="Schema" required>

            <button type="submit">Run</button>
        </form>
    </div>




    <script src="../static/js/home_page.js" charset="utf-8"></script>
</body>

</html>